<svg
  class="app-loader"
  width="70"
  height="70"
  viewBox="0 0 47 47"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <circle
    cx="23.5"
    cy="23.5"
    r="20.5"
    stroke="#55b14d"
    stroke-opacity="0.28"
    stroke-width="6"
  />
  <mask
    id="mask0"
    mask-type="alpha"
    maskUnits="userSpaceOnUse"
    x="0"
    y="0"
    width="47"
    height="47"
  >
    <circle cx="23.5" cy="23.5" r="20.5" stroke="#55b14d" stroke-width="6" />
  </mask>
  <g mask="url(#mask0)">
    <rect x="23.1016" width="23.8983" height="25.4915" fill="#55b14d" />
  </g>
</svg>
