<app-banner-top
  (closeBanner)="closeBanner()"
  *ngIf="bannerShow"
></app-banner-top>
<div class="categories" *ngIf="banner$ | async as banner; else loader">
  <app-category
    *ngFor="let accordian of banner.accordian"
    [accordian]="accordian"
  ></app-category>
</div>
<ng-template #loader>
  <div
    class="categories"
    *ngIf="notificationS.loadingError$ | async; else loading"
  >
    An error occured while loading. Please try again later.
  </div>
  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</ng-template>
