<h1 class="m-0">Can we store cookies?</h1>
<button (click)="closeBanner.emit()" style="padding: 0" class="close-icon btn">&times;</button>
<p>
  We and our partners use technologies, such as cookies, and process personal
  data, such as IP addresses and cookie identifiers, to personaise ads and
  content based on your intrests, mesure the performance of ads and content.
</p>
<p>
  Click below to consent to the use of this technology and the processinf of
  your personal data for these purposes you can change your mond and change your
  consent choices at any time by returning to this site.
</p>
<p>you can familiarize with our <a class="f600" href="#">Privacy Policy</a></p>
<div class="flex justify-between btn-group">
  <div>
    <button class="btn primary-btn">Accept All</button>
    <button class="btn outline-btn">Save Settings</button>
  </div>
  <button class="btn customize-btn">Customize</button>
</div>
